// Vars:

@ltgr: #f0f0f0;

// Global mixins:

.box {
	box-sizing: border-box;
}

// UI


// Common:

@charset "utf-8";

@font-face {
    font-family: 'IconFont';
    src: url('../fonts/iconfont.ttf');
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
    font-family: 'Open Sans Condensed';
	background-color: @ltgr;
	height: 100%;
}
iframe {
	display: block;
}
.h10 {
	height: 20px;
}
.h20 {
	height: 20px;
}
.h30 {
	height: 30px;
}
.pages_wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	.box;
}
.page {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 20px;
	padding-left: 200px;
	.box;
}

.page_inner {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	.box;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
}

.pbg1 {background-color: #88d1b5;}
.pbg2 {background-color: #fc865a;}
.pbg3 {background-color: #3ca8d8;}

.left_pan {
	font-family: 'Dosis';
	font-weight: 600;
	font-size: 22px;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 200px;
	.box;
	padding: 20px;
	text-align: center;
}

.fr_logo {
	height: 160px;
	background-image: url('../img/fr_logo.svg');
	background-position: center center;
	background-repeat: no-repeat;
}

.nav_btn {
	cursor: pointer;
	padding: 10px;
	color: #000;
	transition: 0.2s;
	border-radius: 20px;
	.box;
}

.fox_feed {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 320px;
	background-color: #797979;
	.box;
	padding: 20px;
	color: #fff;
	display: none;
}

#instafeed {
	height: 100%;
}

.page_prew {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 0px;
	width: 40px;
	height: 80px;
	background-color: @ltgr;
	color: #000;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.ppr_center {
	position: absolute;
	height: 120px;
	width: 20px;
	background-color: @ltgr;
	top: -20px;
}

.ppr_top {
	position: absolute;
	height: 40px;
	width: 40px;
	top: -40px;
	border-radius: 20px;
}

.ppr_bottom {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -40px;
  left: 0px;
  border-radius: 20px;
}

.ppr_icon {
	position: absolute;
	height: 30px;
	line-height: 30px;
	width: 30px;
	font-size: 20px;
	color: #000;
	top: 25px;
	left: -10px;
	text-align: center;
	font-family: 'IconFont';
	transition: 0.2s;
	cursor: pointer;
}
.ppr_icon:hover {
	font-size: 24px;
}

.page_next {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	right: 0px;
	width: 40px;
	height: 80px;
	background-color: @ltgr;
	color: #000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.ppn_center {
	position: absolute;
	height: 120px;
	width: 20px;
	background-color: @ltgr;
	top: -20px;
	right: 0px;
}

.ppn_top {
	position: absolute;
	height: 40px;
	width: 40px;
	top: -40px;
	right: 0px;
	border-radius: 20px;
}

.ppn_bottom {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -40px;
  right: 0px;
  border-radius: 20px;
}

.ppn_icon {
	position: absolute;
	height: 30px;
	line-height: 30px;
	width: 30px;
	font-size: 20px;
	color: #000;
	top: 25px;
	right: -10px;
	text-align: center;
	font-family: 'IconFont';
	transition: 0.2s;
	cursor: pointer;
}
.ppn_icon:hover {
	font-size: 24px;
}
.slide_btn {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	width: 40px;
	border-radius: 20px;
	.box;
	background-color: rgba(256, 256, 256, 0.2);;
	color: #fff;
	text-align: center;
	font-family: 'Dosis';
	cursor: pointer;
	transition: 0.2s;
}
.slide_btn:hover {
	background-color: rgba(256, 256, 256, 0.5);
}

.slider {
	text-align: center;
}

.slb_cur {
	background-color: #fff;
	color: #000;
}

.slide {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80%;
	width: 80%;
	.box;
	font-family: 'Bad Script';
	font-size: 80px;
	opacity: 0;
	transition: 0.4s;
}
